

services:
  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - web

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "5001:5000"   # host:container
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - web

  ai_service:
    build: ./ai_service
    container_name: ai_service
    env_file:
      - .env
    environment:
      - MODEL_NAME=aya:8b
    ports:
      - "8000:8000"
    volumes:
      - huggingface_cache:/root/.cache/huggingface
      - ./ai_service:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    runtime: nvidia
    networks:
      - web

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: ["/bin/bash", "-c", "ollama serve & sleep 5; ollama pull aya:8b; wait"]
    runtime: nvidia
    networks:
      - web

  frontend:
    build: ./frontend
    container_name: frontend
    env_file:
      - .env
    depends_on:
      - backend
      - ai_service
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - web

volumes:
  db_data:
  ollama_data:
  huggingface_cache:

networks:
  web:
    driver: bridge
