fastapi
uvicorn
ollama
websockets
torch
torchvision
numpy
opencv-python-headless
scipy
imageio
edge-tts
aiofiles
librosa
ffmpeg-python
onnxruntime
pyyaml
tqdm
moviepy
resampy
rich
typer
soundfile
numba
